* {
  box-sizing: border-box;
  

}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-shadow {
  padding: 3px;
  box-shadow: 5px 5px 5px #c5c4c4;
}

:root{
  font-family: "Roboto", sans-serif;
}
